
h1,
h3,
h2,
#wordTheme,
#solveButton,
#newGameButton,
.listWord,
#challenge {
	padding: 5px;
	text-align: center;
}

#gameOptions,
#solve {
	display: flex;
	justify-content: center;
}

h2 {
	margin: 10px auto 10px auto;
	display: table
}

h1 {
	font-size: 40px;
	margin: 10px auto 10px auto;
	margin-top: -0.5em;
	display: table;
}

#newGameButton:hover,
#solveButton:hover,
#return:hover,
#challenge:hover {
	transform: scale(1.1);
}

#wordTheme {
	border-radius: 8px;
}

#gameInfo {
	border-radius: 10px
}

#wordboard {
	margin: 20px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 600px;

}

.boardRow {
	display: table-row;
}

.cell {
	margin: 0 auto;
	border: none;
	display: table-cell;
	height: 30px;
	width: 30px;
	font-size: 17px;
	padding: 0;
	outline: 0;

	cursor: default;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;

}

.cell:hover {
	background-color: rgb(143, 143, 143);
	border-radius: 5px;
}

.cell.selectable {
	background-color: rgb(211, 211, 211);

}

.cell.selected {
	background-color: grey;

}

.cell.found {
	background-color: rgb(206, 206, 234);
	border: 1px black solid;
	font-weight: bold;
}

.lost {
	background-color: rgb(162, 209, 244);
	border: 1px black solid;
	font-weight: bold;
}

.AI {
	background-color: rgba(244, 202, 209, 0.982);
	border: 1px black solid;
	font-weight: bold;
}

#wordlist {
	margin: 40px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 600px;
	font-size: 17px;
	text-align: center;
}

.listRow {
	display: table-row;
}

.listWord {
	display: table-cell;
}

.listWord.found {
	color: rgb(162, 209, 244);
	text-decoration: line-through;
}

.listWord.User {
	color: rgb(206, 206, 234);
	text-decoration: line-through;
}

.listWord.crossAI {
	color: pink;
	text-decoration: line-through;
}

#topScreen {
	display: inline-block;
	justify-content: space-between;
	display: flex;
}

#solveButton,
#newGameButton,
#challenge {
	background-color: lightgrey;
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	outline: 0;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}

.hide {
	display: none;
}